backend:
  name: github
  repo: eesev9ie/gcg-website
  branch: master
  site_domain: eesev9ie.netlify.app

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "author-de" # Used in routes, e.g., /admin/collections/blog
    label: "Deutsch/Autor" # Used in the UI
    folder: "content/german/author" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Name", name: "title", widget: "string"}
      - {label: "Hintergrundbild", name: "bg_image", widget: "image", default: "/images/slide1.jpg"}
      - {label: "Metabeschreibung", name: "description", widget: "text", default: ""}
      - {label: "Gravatar-E-Mail", name: "email", widget: "string"}
      - {label: "Foto", name: "image", widget: "image"}
      - label: "Soz. Netzwerke/Kontaktdaten"
        name: "social"
        widget: "list"
        fields:
          - {label: "Symbol", name: "icon", widget: "string", hint: "Symbolname von https://themify.me/themify-icons"}
          - {label: "Link", name: "link", widget: "string"}
        required: false
      - {label: "Beschreibung", name: "body", widget: "markdown"}
  - name: "blog-de"
    label: "Deutsh/Blogbeitrag"
    folder: "content/german/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Titel", name: "title", widget: "string"}
      - {label: "Datum", name: "date", widget: "datetime"}
      - {label: "Entwurf", name: "draft", widget: "boolean"}
      - {label: "Hintergrundbild", name: "bg_image", widget: "image", default: "/images/slide1.jpg"}
      - {label: "Metabeschreibung", name: "description"}
      - {label: "Beitragsbild", name: "image", widget: "image", default: "/images/image.png"}
      - {label: "Autor", name: "author", widget: "string", default: "CantorTechnik AG"}
      - {label: "Kategorien", name: "cathegories", widget: "list", default: ["Sonstige"])
      - {label: "Tags", name: "tags", widget: "list", deault: [""]}
      - {label: "Type", name: "type", widget: "hidden", default: "post"}
      - {label: "Text", name: "body", widget: "markdown"}
